header.home.active, header.homepage {
    background: none;
}
header.font-sfui {
    border-bottom: 1px solid #ddd;
}
.font-sfui {
    font-family: "SF Display","SF Text","SF Mono",serif;
    font-size: 14px;
    line-height: 150%;
}
header .container {
    color: #313132;
    text-transform: uppercase;
    height: 65px;
    line-height: 100%;
}
@media screen and (min-width: 1200px) {
.content_wp {
    width: 80%;
}
}
.padding0 {
    padding: 0;
}
.pull-right {
    float: right!important;
}